* {
  font-family: 'Source Serif Pro', serif;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
}

.side-panel {
  height: 100vh;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}